global
        daemon

        ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
        ssl-default-bind-options no-sslv3

frontend https_passthrough
        timeout client  50000
        bind *:443 ssl crt /opt/bitdefender/share/server_certificate.pem  fipr-file /opt/bitdefender/share/box_client.fipr verify fipr
        mode http
        http-request set-header X-Client-Ip %ci
        default_backend webserver

backend webserver
        timeout connect 5000
        timeout server  50000
        mode http
        server s1 127.0.0.1:80 check

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
